session/
auth_info_baileys/
qr.png
error_*.png
.venv/
__pycache__/
.env
node_modules/
npm-debug.log
.bkp/
commands/clearcache.js.bak
ISAAC-commands-remote/
.tmp-isaac-commands/
.tpm-isaac-commands/
.tmp*/
silentwolf/session/
ISAAC/auth_info_baileys/
.DS_Store
logs/
commands/*.bak
